body {

background-color: black;
color: aliceblue;
text-align: center;
}


#menu {
    display: flex; 
    align-items: center; 
        justify-content: space-around;
    position: fixed;
    background-color: rgb(71, 71, 71);
    left: 0;
    width: 100%;
    height: 100px;
    top: 0;
}
    
    .inicio{

text-align: center;

    }

    .sla {

color: black;

    }